.icon-size {
  font-size: 1.4em;
}

.text {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: italic;
  font-size: 1.1em;
}

.heading {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: italic;
}

.location-detail span {
  font-size: 0.72em;
  color: grey;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
}

.top-right-close {
  margin: 6px 6px 6px 6px;
}

.well {
  background-color: rgb(245, 241, 241);
}

.right-side-content {
  padding: 5px 5px 5px 5px;
  padding-left: 5px;
  margin-left: 5px;
}

.label-header {
  font-weight: bold;
  font-size: 0.8em;
}

.page-content {
  margin-top: 0px;
}

.form-content {
  position: fixed;
  z-index: -1;
}

.icons{
    font-size: 3.2em;
}

.footer-icon{
    margin: 20px;
    padding: 18px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
  }

.sticky + .content {
    padding-top: 102px;
  }

agm-map {
  height: 550px;
  width: 100%;
  position: fixed;
}
